/* General styles for all screen sizes */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

main {
  max-width: 500px; /* Set a maximum width for better readability */
  margin: 0 auto; /* Center the main content */
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center; /* Vertically align form elements */
}

label {
  margin-right: 100px;
  width: 100%; /* Ensure labels take full width on small screens */
}

input,
select,
button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  /* Styles for smaller screens, like tablets */
  main {
    max-width: 80%; /* Expand to full width on smaller screens */
  }

  form {
    flex-direction: column; /* Stack form elements vertically */
  }

  label {
    margin-bottom: 10px; /* Add bottom margin for better spacing */
  }
}

@media (max-width: 480px) {
  /* Styles for even smaller screens, like smartphones */
  input,
  select {
    width: 100%; /* Make input fields full-width on mobile */
  }
}
